<div class="jumbotron text-center">
<h1>List of Monsters</h1>
</div>

<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th><center>Monster Name</center></th>
        <th><center>Link to More API Data</center></th>
      </tr>
    </thead>
    <tbody>
    <% @monsters.each do |monster| %>
      <tr>
          <td><center><%= monster.name %></center></td>
          <% if @page != nil %>
            <td><center><%= link_to "#{monster.name} Data", "/monsters/page/#{@page}/#{monster.index}" %><center></td>
          <% else %>
            <td><center><%= link_to "#{monster.name} Data", "/monsters/#{monster.index}" %><center></td>
          <% end %>

      </tr>
        <% end %>
    </tbody>
  </table>
</div>

<div class="text-center">

<%= paginate @monsters %>
</div>


