<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>Welcome to EncounterSim <%= @user.email %>,</h4>
    <p>Please find a link to log directly into the website <a href="<%= @url %>">Here</a>
</html>