

<div class="jumbotron text-center">
<h1>Encounter Sim</h1>
</div>


<div class="text-center">
<% if current_user %>
<% else %>
<h4><%= link_to "Create An Account", new_user_path %></h4>
<h4><%= link_to "Login", login_path %><h4>
<% end %>
</div>
<br>
<br>

<div class="text-center">
<h3>An App for those that would like to build fun and challenging encounters for their DnD adventures!</h3>
</div>