

<div class="jumbotron text-center">
<h1>Encounter Sim</h1>
</div>


<div class="text-center">
  <% if current_user %>
    <h4><%= button_to "Create a New Encounter", new_encounter_path, method: :get %>    </h4>
  <% else %>
    <h4><%= button_to "Create An Account", new_user_path, method: :get %>    </h4>
    <h4><%= button_to "Login", login_path, method: :get %>    </h4>
  <% end %>
</div>
<br>
<br>

<div class="text-center">
<h3>An App for those that would like to build fun and challenging encounters for their DnD adventures!</h3>
</div>