<div class="jumbotron text-center">
  <h1>Saved Encounters</h1>
</div>
<% @encounters.each do |encounter| %>
  <h3><%= link_to encounter.id, "/encounters/#{encounter.id}", method: :get  %></h3><br>
<% end %>